<br>
<div class="container">
    <button class="btn btn-primary" (click)="hideParagraph()">Display Button</button>

    <!-- structural directives -->
    <p *ngIf="!showParagraph">This is a paragraph</p>
    <p *ngFor="let click of buttonClicked" [ngClass]="{buttonColor: click > 4}">{{ click }}</p>

    <!-- custom event binding from one component to another -->
    <app-servers (ServerCreatedOnClick)="onServerAdded($event)"></app-servers>

    <br>

    <p *ngFor = "let server of serverElements">the data is Comming from Servers.component: {{server}}</p>

    <br>

    <app-side-bar></app-side-bar>
</div>
