<div class="container pad">

    <div  >
        <p><strong>Server Name</strong></p>
        <!-- <input type="text" 
        class="form-control"
        (input)="onUpdateInput($event)"
        > -->
        <!-- <input type="text" class="form-control" [(ngModel)]="serverName"> -->
        <input type="text" class="form-control" #serverInput>
    </div>
    <div>
        <button class="btn btn-primary" [disabled]="!enableButton" (click)="onClickButton(serverInput)">Button</button>
    </div>
    <p *ngIf="serverCreated; else noServerCreated">{{ description }} {{ servers }}</p>
    <ng-template #noServerCreated>
        <p>No Server was created</p>
    </ng-template>
    <br>

    <p [ngStyle]="{'backgroundColor' : getColor()}" 
    [ngClass]="{paragraphColor: userName === 'Maaz Tariq'}"
    *ngFor="let server of servers"
    >
        User id is {{ userId }} and username is {{ userName }} servers: {{ server }} </p>
</div>
<br>